body {
    a {
        color: var(--nc-tx-2);
        text-decoration: none;
    }

    ul {
        padding-left: 0;

        li {
            list-style: none;

        }
    }

    .item {
        padding: 0.5em;
        border-radius: 4px;

        .item__title {
            font-size: 1.2em;
            font-weight: bold;
            color: var(--nc-lk-1)
        }

        .item__meta {
            font-size: 0.8em;
            color: var(--nc-tx-2);
            padding-bottom: 0.2em;
        }

        .item__desc {
            font-style: italic;
        }
    }

    .item:hover {
        background-color: var(--nc-bg-2);
    }
}
