{{ define "main" }}

<h1>{{ .Site.Title }}</h1>
<h2>目录</h2>
<ul>
    {{ range sort .Site.Data.index.items "date" "desc" }}
    {{ if (not (eq .title "")) }}
    <li>
        <a href="./{{ .path }}">
            <div class="item">
                <div class="item__title">
                    {{ .title | htmlUnescape }}
                </div>
                <div class="item__meta">
                    <span>{{ .author | htmlUnescape }}</span>
                    <span>{{ .owner | htmlUnescape }}</span>
                    <span>{{ .date }}</span>
                </div>
                <div class="item__desc">
                    {{ .description | htmlUnescape }}
                </div>
            </div>
        </a>
    </li>
    {{ else }}
    <li>
        <div class="item">
            <a href="./{{ .path }}">
                <div class="item__title">
                    {{ .path }}
                </div>
            </a>
        </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}